@import url(https://fonts.googleapis.com/css?family=Jura:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,italic&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

input,
button,
textarea,
select {
  font-family: "Jura",sans-serif;
  font-size: inherit;
  color: #191314;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Jura",sans-serif;
  font-weight: 400;
  color: #191314;
  font-size: 1rem;
  background-color: #b4aaa6;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

.menu {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3125rem 4.375rem;
}

.menu__link {
  display: inline-block;
  -webkit-transition: color .3s;
  transition: color .3s;
  font-weight: 500;
  font-size: 1.625rem;
  color: #b4aaa6;
}

.burger-menu {
  display: none;
}

.menu-open .burger-menu::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.46875rem;
}

.menu-open .burger-menu::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0.46875rem;
}

.menu-open .burger-menu span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header {
  position: fixed;
  z-index: 150;
  width: 100%;
  padding: 1.1875rem 0;
  background-color: #191314;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4.375rem;
}

.header__logo {
  margin-right: auto;
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10.3125rem;
          flex: 0 0 10.3125rem;
  width: 10.3125rem;
}

.header__logo img {
  max-width: 100%;
}

.header__tel {
  position: relative;
  z-index: 10;
  font-weight: 500;
  font-size: 1.625rem;
  color: #b4aaa6;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.hero {
  padding-top: 10.625rem;
  padding-bottom: 3rem;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.75rem;
}

.hero__content {
  max-width: 35.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.0625rem;
}

.hero__title {
  font-family: "Playfair Display",sans-serif;
  font-size: 3rem;
}

.hero__title::after {
  content: "";
  display: block;
  max-width: 23.125rem;
  width: 100%;
  height: 0.125rem;
  background-color: #191314;
  margin-top: 1.0625rem;
}

.hero__text {
  max-width: 24.0625rem;
  font-weight: 500;
  font-size: 1.75rem;
  color: #544238;
}

.hero__link {
  margin-top: auto;
  max-width: 24.4375rem;
  width: 100%;
  min-height: 3.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-shadow: 0 0 0.1875rem 0 #191314;
          box-shadow: 0 0 0.1875rem 0 #191314;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-size: 1.625rem;
  color: #544238;
  background-color: #b4aaa6;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero__link--mobile {
  display: none;
}

.hero__link path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.hero__link svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.875rem;
          flex: 0 0 4.875rem;
  width: 4.875rem;
}

.hero__media {
  -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.75%;
          flex: 0 0 48.75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.875rem;
  margin-top: 1.0625rem;
}

.hero__image {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

.hero__image:nth-child(2) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  aspect-ratio: auto;
}

.hero__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  background: #e8dfdd;
  padding: 1.0625rem 0;
}

.about__title {
  font-family: "Playfair Display",sans-serif;
  font-size: 3rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
}

.about__title::after {
  content: "";
  height: 0.1875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #1a1516;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -1.25rem;
}

.about__items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about__item {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
}

.about__item--1 {
  max-width: 39.375rem;
  margin-left: auto;
  margin-right: -9.6875rem;
}

.about__heading {
  font-weight: 700;
  font-size: 2.5rem;
  color: #1a1516;
}

.about__desc {
  max-width: 29.875rem;
  font-weight: 500;
  font-size: 1.625rem;
  color: rgba(0,0,0,.7);
}

.about__item--2 {
  max-width: 18.375rem;
}

.about__caption {
  font-weight: 700;
  font-size: 1.75rem;
  color: #000;
}

.about__text {
  font-weight: 500;
  font-size: 1.25rem;
  color: #544238;
}

.about__item--3 {
  max-width: 30.875rem;
  margin-left: auto;
}

.about__item--4 {
  max-width: 30.3125rem;
}

.about__block {
  position: relative;
  padding: 0 2.5rem;
  min-width: 0;
  width: 27.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.9375rem;
          flex: 0 0 27.9375rem;
}

.about__slider {
  width: 100%;
  min-width: 0;
}

.about__wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__slide {
  position: relative;
  aspect-ratio: 367/550;
  min-width: 0;
  min-height: 0;
}

.about__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%) rotate(180deg);
      -ms-transform: translate(0%, -50%) rotate(180deg);
          transform: translate(0%, -50%) rotate(180deg);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.about__prev.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.about__prev path {
  fill: #544238;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.about__prev svg {
  width: 1.875rem;
  height: 3.125rem;
}

.about__next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.about__next.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.about__next path {
  fill: #544238;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.about__next svg {
  width: 1.875rem;
  height: 3.125rem;
}

.offer {
  padding: 1.0625rem 0;
}

.offer__title {
  font-family: "Playfair Display",sans-serif;
  font-size: 3rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
}

.offer__title:not(:last-child) {
  margin-bottom: 2.9375rem;
}

.offer__title::before {
  content: "";
  height: 0.1875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #1a1516;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2.9375rem;
  position: relative;
}

.offer__body:not(:last-child) {
  margin-bottom: 2.9375rem;
}

.offer__image {
  position: relative;
  max-width: 45.3125rem;
  width: 100%;
}

.offer__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer__block {
  background: #e8dfdd;
  padding: 0.625rem;
  max-width: 26.5625rem;
  width: 100%;
}

.offer__caption {
  font-size: 2.5rem;
  color: #191314;
}

.offer__caption:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.offer__text {
  font-size: 1.625rem;
  color: #191314;
}

.offer__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.offer__list {
  padding-left: 1.875rem;
}

.offer__list:not(:last-child) {
  margin-bottom: 2.5rem;
}

.offer__item {
  list-style-type: circle;
  font-size: 1.625rem;
  color: #191314;
}

.offer__old-price {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(25,19,20,.6);
}

.offer__price {
  font-weight: 500;
  font-size: 1.625rem;
}

.offer__link {
  margin-right: 1.0625rem;
  margin-left: auto;
  max-width: 24.4375rem;
  width: 100%;
  min-height: 3.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-shadow: 0 0 0.1875rem 0 #191314;
          box-shadow: 0 0 0.1875rem 0 #191314;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-weight: 700;
  font-size: 1.625rem;
  color: #544238;
  background-color: #b4aaa6;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.offer__link path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.offer__link svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.875rem;
          flex: 0 0 4.875rem;
  width: 4.875rem;
}

.program {
  background: #a4918a;
  padding: 1.0625rem 0;
}

.program__title {
  font-family: "Playfair Display",sans-serif;
  font-size: 3rem;
  color: #e8dfdd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.1875rem;
  text-align: center;
}

.program__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.program__title::before {
  content: "";
  height: 0.1875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #e8dfdd;
}

.program__title::after {
  content: "";
  height: 0.1875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #e8dfdd;
}

.program__link {
  margin-top: 1.6875rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 24.4375rem;
  width: 100%;
  min-height: 3.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-shadow: 0 0 0.1875rem 0 #191314;
          box-shadow: 0 0 0.1875rem 0 #191314;
  border-radius: 0.625rem;
  padding: 0.625rem 1.25rem;
  font-weight: 700;
  font-size: 1.625rem;
  color: #544238;
  background-color: #b4aaa6;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.program__link path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.program__link svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.875rem;
          flex: 0 0 4.875rem;
  width: 4.875rem;
}

.contacts {
  background: #735a4e;
  padding-top: 1rem;
  padding-bottom: 2.75rem;
}

.contacts__title {
  font-family: "Playfair Display",sans-serif;
  font-size: 3rem;
  color: #b4aaa6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.1875rem;
  text-align: center;
}

.contacts__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.contacts__title::before {
  content: "";
  height: 0.1875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #b4aaa6;
}

.contacts__title::after {
  content: "";
  height: 0.1875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #b4aaa6;
}

.contacts__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.37fr 1fr;
  grid-template-columns: 1fr 1.37fr 1fr;
  gap: 3rem;
}

.contacts__map {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
}

.contacts__map img,
.contacts__map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__content {
  padding: 1.0625rem;
  border-left: 0.1875rem solid #b4aaa6;
  border-right: 0.1875rem solid #b4aaa6;
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: start;
      align-content: start;
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.contacts__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  width: 2.5rem;
  margin-left: 0.625rem;
  margin-right: 1.25rem;
}

.contacts__icon img {
  width: 100%;
}

.contacts__text {
  font-size: 1.75rem;
  color: #b4aaa6;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: start;
      align-content: start;
  justify-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contacts__text a {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contacts__social {
  -ms-grid-column-align: end;
      justify-self: end;
  max-width: 19.375rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 2.6875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: start;
      align-content: start;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  font-size: 1.75rem;
  color: #b4aaa6;
  border-bottom: 0.09375rem solid #b4aaa6;
  padding: 0.125rem 0;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.contacts__link svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.875rem;
          flex: 0 0 4.875rem;
  width: 4.875rem;
}

.contacts__link path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.footer {
  background: #191314;
  padding: 1.8125rem 0;
}

.footer__copy {
  font-size: 1.125rem;
  text-align: center;
  color: #b4aaa6;
}

body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .8s ease 0s;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.menu-open body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 1.25rem;
  -webkit-transition: visibility .8s ease 0s;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .3s ease 0s;
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s, -webkit-transform .3s ease 0s;
  background-color: #e8dfdd;
  padding: 0.625rem 1.875rem;
  width: 100%;
  max-width: 62.625rem;
  border-radius: 0.625rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  cursor: pointer;
  top: 0.5rem;
  right: 0.625rem;
  width: 1.25rem;
  height: 1.25rem;
  background: rgba(0,0,0,0);
  -webkit-transition: -webkit-transform .3s ease 0s;
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s, -webkit-transform .3s ease 0s;
  will-change: transform;
}

.popup__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background-color: #333;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 1.875rem;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.popup__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background-color: #333;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 1.875rem;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.popup__title {
  font-weight: 500;
  font-size: 1.625rem;
  color: #735a4e;
}

.popup__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.popup__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.913%;
          flex: 0 0 31.913%;
  width: 100%;
  position: relative;
  gap: 1.25rem;
}

.popup__image {
  width: 100%;
  position: relative;
  aspect-ratio: 307/205;
}

.popup__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.75rem;
  left: 0.75rem;
  background: #735a4e;
}

.popup__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup__link {
  margin-right: auto;
  margin-left: auto;
  max-width: 15.625rem;
  width: 100%;
  min-height: 2.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 0.1875rem 0 #191314;
          box-shadow: 0 0 0.1875rem 0 #191314;
  border-radius: 0.3125rem;
  padding: 0.125rem 1.25rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #735a4e;
  background-color: #e8dfdd;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popup__link--mobile {
  display: none;
}

.popup__list {
  padding-left: 1.875rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 1.5625rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.popup__item {
  font-weight: 500;
  font-size: 1.25rem;
  color: #735a4e;
  list-style-type: disc;
}

.popup__item b {
  white-space: nowrap;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1875rem solid #e8dfdd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.tabs__navigation:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.tabs__title {
  font-weight: 700;
  font-size: 1.625rem;
  color: #e8dfdd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding-bottom: 0.1875rem;
  border-bottom: 0.1875rem solid rgba(0,0,0,0);
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.tabs__title:not(:first-child)::after {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: -1.125rem;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  content: "";
  display: block;
  background-color: #e8dfdd;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}

.tabs__title._tab-active {
  color: #735a4e;
  border-bottom: 0.1875rem solid #735a4e;
}

.tabs__content {
  width: 100%;
}

.tabs__body {
  width: 100%;
}

.tabs__desc {
  margin-top: 0.4375rem;
  font-size: 1.25rem;
  text-align: center;
  color: #e8dfdd;
  line-height: 130%;
  max-width: 32.5rem;
  margin-left: auto;
  margin-right: auto;
}

.tabs__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 7.5rem;
}

.tabs__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.8125rem;
}

.tabs__caption {
  font-family: "Playfair Display",sans-serif;
  font-size: 1.25rem;
  color: #544238;
}

.tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.125rem solid #e8dfdd;
  padding-top: 0.5rem;
  padding-bottom: 0.1875rem;
  color: #e8dfdd;
}

.tabs__text {
  font-weight: 500;
  font-size: 1.25rem;
}

.tabs__price {
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.25rem;
}

.tabs__item--grey {
  color: #735a4e;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.tabs__image {
  width: 100%;
  position: relative;
  height: 17.75rem;
  min-width: 0;
  min-height: 0;
}

.tabs__image--mobile {
  display: none;
}

.tabs__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 82.5rem) {
  .menu__list {
    gap: 0.3125rem 1.875rem;
  }

  .header__container {
    gap: 1.875rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.375rem;
            flex: 0 0 9.375rem;
    width: 9.375rem;
  }

  .about__body {
    margin-top: 1rem;
  }

  .about__items {
    gap: 1.25rem;
    display: -ms-grid;
    display: grid;
  }

  .contacts__body {
    gap: 1.875rem;
  }

  .contacts__content {
    padding: 0.625rem;
  }

  .contacts__icon {
    margin-right: 0.625rem;
  }

  .contacts__text {
    font-size: 1.625rem;
  }

  .tabs__grid {
    gap: 3.125rem;
  }
}

@media (max-width: 61.99875rem) {
  .menu {
    overflow: auto;
    background-color: #211c1d;
    position: fixed;
    right: -100%;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 6.25rem 1.5625rem 2.5rem 1.5625rem;
    text-align: center;
    -webkit-transition: right .5s ease;
    transition: right .5s ease;
  }

  .menu-open .menu {
    right: 0;
  }

  .menu__list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
  }

  .burger-menu {
    display: block;
    width: 1.875rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.125rem;
    position: relative;
    z-index: 8;
  }

  .burger-menu::before,
  .burger-menu::after,
  .burger-menu span {
    display: block;
    position: absolute;
    height: 0.1875rem;
    width: 100%;
    background-color: #b4aaa6;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-radius: 1.25rem;
    left: 0;
  }

  .burger-menu::before {
    content: "";
    top: 0;
  }

  .burger-menu::after {
    content: "";
    bottom: 0;
  }

  .burger-menu span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .header {
    padding: 0.3125rem 0;
  }

  .header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    -webkit-transition: right .5s ease 0s;
    transition: right .5s ease 0s;
    background-color: #191314;
    z-index: 7;
  }

  .menu-open .header::before {
    right: 0;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.5rem;
            flex: 0 0 7.5rem;
    width: 7.5rem;
  }

  .header__tel {
    font-size: 1.375rem;
  }

  .hero {
    padding-bottom: 1.875rem;
    padding-top: 6.25rem;
  }

  .hero__title {
    font-size: 2.1875rem;
  }

  .hero__title::after {
    margin-top: 0.625rem;
    height: 0.0625rem;
    max-width: 100%;
    margin-top: 0.0625rem;
  }

  .hero__text {
    font-size: 1.25rem;
    max-width: 18.75rem;
  }

  .hero__link {
    font-size: 1.5rem;
  }

  .hero__media {
    gap: 0.5625rem;
    margin-top: 0.625rem;
  }

  .about {
    padding-top: 0.125rem;
    padding-bottom: 0.9375rem;
  }

  .about__title {
    font-size: 2.25rem;
    gap: 1.25rem;
  }

  .about__title::after {
    height: 0.0625rem;
  }

  .about__item--1 {
    margin-right: 0;
    margin-left: 0;
  }

  .about__heading {
    font-size: 1.75rem;
  }

  .about__desc {
    font-size: 1.375rem;
  }

  .about__caption {
    font-size: 1.25rem;
  }

  .about__text {
    font-size: 1rem;
  }

  .about__item--3 {
    margin-left: 0;
  }

  .about__block {
    width: 25rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25rem;
            flex: 0 0 25rem;
    padding: 0 1.5625rem;
  }

  .about__prev svg {
    width: 1.25rem;
    height: 1.875rem;
  }

  .about__next svg {
    width: 1.25rem;
    height: 1.875rem;
  }

  .offer {
    padding: 0.625rem 0;
  }

  .offer__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .offer__title {
    font-size: 2.25rem;
    gap: 1.25rem;
  }

  .offer__title::before {
    height: 0.0625rem;
  }

  .offer__body {
    gap: 1.25rem;
  }

  .offer__body:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .offer__caption {
    font-size: 1.75rem;
  }

  .offer__caption:not(:last-child) {
    margin-bottom: 0.4375rem;
  }

  .offer__text {
    font-size: 1.25rem;
  }

  .offer__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .offer__list {
    padding-left: 1.5625rem;
  }

  .offer__item {
    font-size: 1.25rem;
  }

  .offer__old-price {
    font-size: 1.125rem;
  }

  .offer__price {
    font-size: 1.25rem;
  }

  .offer__link {
    font-size: 1.5rem;
    margin-right: 0;
    max-width: 22.5rem;
  }

  .program {
    padding: 0.9375rem 0;
  }

  .program__title:not(:last-child) {
    margin-bottom: 0.8125rem;
  }

  .program__title {
    font-size: 2.25rem;
    gap: 1.25rem;
  }

  .program__title::before {
    height: 0.0625rem;
  }

  .program__title::after {
    height: 0.0625rem;
  }

  .program__link {
    font-size: 1.5rem;
  }

  .contacts {
    padding-top: 0.875rem;
    padding-bottom: 1.5625rem;
  }

  .contacts__title {
    font-size: 2.25rem;
    gap: 1.25rem;
  }

  .contacts__title::before {
    display: none;
  }

  .contacts__title::after {
    height: 0.0625rem;
  }

  .contacts__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 2.0625rem;
  }

  .contacts__map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contacts__content {
    gap: 0.625rem;
    padding: 0;
    border-left: none;
    border-right: none;
  }

  .contacts__box {
    gap: 0.9375rem;
  }

  .contacts__icon {
    margin: 0;
  }

  .contacts__text {
    font-size: 1.5rem;
  }

  .contacts__social {
    max-width: 100%;
    gap: 1rem;
  }

  .contacts__link {
    font-size: 1.5rem;
  }

  .footer {
    padding: 1rem 0;
  }

  .footer__copy {
    font-size: 1rem;
  }

  .popup__title {
    font-size: 1.25rem;
  }

  .popup__body {
    gap: 1.875rem;
  }

  .popup__link {
    font-size: 1.125rem;
    min-height: 1.875rem;
  }

  .popup__list {
    gap: 0.9375rem;
  }

  .popup__item {
    font-size: 1.0625rem;
  }

  .tabs__navigation {
    border-bottom: 0.0625rem solid #e8dfdd;
  }

  .tabs__title {
    font-size: 1.1875rem;
    border-bottom: 0.125rem solid rgba(0,0,0,0);
  }

  .tabs__title._tab-active {
    border-bottom: 0.125rem solid #735a4e;
  }

  .tabs__desc {
    font-size: 1.0625rem;
  }

  .tabs__grid {
    gap: 1.875rem;
  }

  .tabs__column {
    gap: 1.875rem;
  }

  .tabs__caption {
    font-size: 1.0625rem;
  }

  .tabs__item {
    border-bottom: 0.0625rem solid #e8dfdd;
  }

  .tabs__text {
    font-size: 1.0625rem;
  }

  .tabs__price {
    font-size: 1.0625rem;
  }
}

@media (max-width: 47.99875rem) {
  .menu__link {
    font-size: 1.375rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5rem;
            flex: 0 0 5rem;
    width: 5rem;
  }

  .header__tel {
    display: none;
  }

  .hero {
    padding-top: 4.375rem;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__title {
    font-size: 1.5rem;
  }

  .hero__text {
    display: none;
  }

  .hero__link--pc {
    display: none;
  }

  .hero__link--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hero__link {
    font-size: 1.375rem;
    max-width: 100%;
    font-weight: 500;
  }

  .hero__media {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: auto;
  }

  .about__title {
    font-size: 1.375rem;
    gap: 0.625rem;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 1.875rem;
  }

  .about__items {
    gap: 1.875rem;
  }

  .about__item {
    width: 100%;
  }

  .about__item--1 {
    padding-left: 4rem;
    max-width: 100%;
  }

  .about__item--1::before {
    content: "";
    position: absolute;
    height: 100%;
    left: -1.25rem;
    top: 0;
    width: 2.5rem;
    background: #a4918a;
  }

  .about__heading {
    font-size: 1.125rem;
  }

  .about__desc {
    font-size: 0.875rem;
  }

  .about__item--2 {
    max-width: 14.625rem;
  }

  .about__caption {
    font-size: 0.9375rem;
  }

  .about__text {
    font-size: 0.8125rem;
  }

  .about__item--3 {
    padding-left: 4rem;
    max-width: 100%;
  }

  .about__item--3::before {
    content: "";
    position: absolute;
    height: 100%;
    left: -1.25rem;
    top: 0;
    width: 2.5rem;
    background: #a4918a;
  }

  .about__item--4 {
    max-width: 100%;
  }

  .about__block {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 100%;
    padding-right: 1.25rem;
    padding-left: 3.125rem;
  }

  .about__block::before {
    content: "";
    position: absolute;
    height: 100%;
    left: -1.25rem;
    top: 0;
    width: 2.5rem;
    background: #a4918a;
  }

  .about__slide {
    aspect-ratio: 265/176;
  }

  .about__prev {
    left: 1.875rem;
  }

  .about__prev svg {
    width: 0.9375rem;
    height: 1.25rem;
  }

  .about__next svg {
    width: 0.9375rem;
    height: 1.25rem;
  }

  .offer__title {
    font-size: 1.375rem;
    gap: 0.625rem;
    margin-right: 0.625rem;
  }

  .offer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0.625rem;
    padding-right: 0.625rem;
  }

  .offer__body::after {
    content: "";
    height: 19rem;
    position: absolute;
    right: 0;
    top: -2.125rem;
    width: 0.0625rem;
    background-color: #191314;
  }

  .offer__image {
    max-width: 100%;
    aspect-ratio: 325/177;
  }

  .offer__block {
    max-width: 15rem;
    padding: 0.3125rem;
    margin-left: auto;
  }

  .offer__caption {
    font-size: 1.125rem;
    font-weight: 700;
  }

  .offer__text {
    font-size: 0.9375rem;
  }

  .offer__list {
    padding-left: 1.25rem;
  }

  .offer__item {
    font-size: 0.9375rem;
  }

  .offer__old-price {
    font-size: 0.8125rem;
  }

  .offer__price {
    font-size: 0.9375rem;
  }

  .offer__link {
    font-size: 1.375rem;
    max-width: none;
    width: auto;
    margin-right: 0.625rem;
  }

  .program__title {
    font-size: 1.375rem;
    gap: 0.625rem;
    margin-right: 0.625rem;
  }

  .program__link {
    margin-top: 1.875rem;
    font-size: 1.375rem;
    max-width: 100%;
  }

  .contacts__title {
    font-size: 1.375rem;
    gap: 0.625rem;
    margin-right: 0.625rem;
  }

  .contacts__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.6875rem;
            flex: 0 0 1.6875rem;
    width: 1.6875rem;
  }

  .contacts__text {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .contacts__link {
    font-size: 1.125rem;
    font-family: "Jura",sans-serif;
    padding: 0.25rem 0;
  }

  .contacts__link svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4.75rem;
            flex: 0 0 4.75rem;
    width: 4.75rem;
  }

  .footer__copy {
    font-size: 0.875rem;
  }

  .popup__content {
    padding: 0.625rem 1.25rem;
  }

  .popup__close {
    width: 1rem;
    height: 1rem;
    top: 0.375rem;
    right: 0.5rem;
  }

  .popup__title {
    text-align: center;
    font-size: 0.9375rem;
    padding: 0 0.9375rem;
  }

  .popup__title:not(:last-child) {
    margin-bottom: 0.8125rem;
  }

  .popup__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.8125rem;
  }

  .popup__column {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .popup__column::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -1.25rem;
    width: 0.75rem;
    height: 8.4375rem;
    background: #735a4e;
  }

  .popup__image {
    max-width: 11.125rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4375rem;
  }

  .popup__image::before {
    top: 0.4375rem;
    left: 0.4375rem;
  }

  .popup__link--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .popup__link--pc {
    display: none;
  }

  .popup__link {
    font-size: 0.8125rem;
    max-width: 12.375rem;
    padding: 0.0625rem 0.625rem;
    min-height: 1.125rem;
  }

  .popup__list {
    padding-right: 0.625rem;
    gap: 0.625rem;
    padding-left: 1.25rem;
  }

  .popup__list::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1.25rem;
    width: 0.75rem;
    height: 100%;
    background: #735a4e;
  }

  .popup__item {
    font-size: 0.8125rem;
  }

  .tabs__navigation {
    max-width: 19.125rem;
  }

  .tabs__navigation::before {
    content: "";
    position: absolute;
    top: 1.625rem;
    left: 0;
    width: 100%;
    height: 0.0625rem;
    background-color: #e8dfdd;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    pointer-events: none;
  }

  .tabs__navigation:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .tabs__title {
    font-size: 0.9375rem;
    padding-bottom: 0.375rem;
  }

  .tabs__title:nth-child(3)::after {
    display: none !important;
  }

  .tabs__title:not(:first-child)::after {
    width: 0.25rem;
    height: 0.25rem;
    top: 45%;
    left: -1rem;
  }

  .tabs__desc {
    max-width: 100%;
    font-size: 0.8125rem;
    margin-top: -1.25rem;
  }

  .tabs__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tabs__caption {
    font-size: 0.8125rem;
  }

  .tabs__item {
    padding-top: 0.8125rem;
    padding-bottom: 0.375rem;
  }

  .tabs__text {
    font-size: 0.8125rem;
  }

  .tabs__price {
    font-size: 0.8125rem;
  }

  .tabs__image {
    height: auto;
    aspect-ratio: 335/123;
  }

  .tabs__image:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .tabs__image--mobile {
    display: block;
  }

  .tabs__image--pc {
    display: none;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #a4918a;
  }

  .header__tel:hover {
    color: #a4918a;
  }

  .hero__link:hover {
    background-color: #a4918a;
    color: #191314;
  }

  .hero__link:hover path {
    fill: #191314;
  }

  .about__prev:hover path {
    fill: #a4918a;
  }

  .about__next:hover path {
    fill: #a4918a;
  }

  .offer__link:hover {
    background-color: #a4918a;
    color: #191314;
  }

  .offer__link:hover path {
    fill: #191314;
  }

  .program__link:hover {
    background-color: #a4918a;
    color: #191314;
  }

  .program__link:hover path {
    fill: #191314;
  }

  .contacts__text a:hover {
    color: #a4918a;
  }

  .contacts__link:hover {
    color: #a4918a;
  }

  .contacts__link:hover path {
    fill: #a4918a;
  }

  .popup__close:hover::before,
  .popup__close:hover::after {
    background-color: #a4918a;
  }

  .popup__link:hover {
    background-color: #a4918a;
    color: #544238;
  }

  .tabs__title:hover {
    color: #735a4e;
  }

  .tabs__item--grey:hover {
    color: #3a2f2b;
  }
}